WARSAW_IMX386E3_OFILM=/odm/etc/camera/bshutter/imx386e3/
WARSAW_IMX386E3_SUNNY=/odm/etc/camera/bshutter/imx386e3/
WARSAW_OV12870E3_LITEON=/odm/etc/camera/bshutter/ov12870e3/
WARSAW_OV12A10_LITEON=/odm/etc/camera/bshutter/ov12a10/
WARSAW_OV12A10_SUNNY=/odm/etc/camera/bshutter/ov12a10/
WARSAW_OV12A10_FOXCONN=/odm/etc/camera/bshutter/ov12a10/
WARSAW_IMX486_OFILM=/odm/etc/camera/bshutter/imx486/
WARSAW_IMX486_SUNNY=/odm/etc/camera/bshutter/imx486/